@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
* { box-sizing: border-box; margin: 0; }

body { font-family: "Montserrat", "Merriweather", "Arial", sans-serif; margin: 0 auto; }

.container { width: 940px; max-width: 100%; margin: 0 auto; }

.navigation-container { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; padding-top: 50px; }

.menu-button-input[type="checkbox"] + label { font-size: 35px; cursor: pointer; }

.menu-button-input, .menu-button-label { display: none; color: #fed136; }

.menu { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-right: 10px; }

.menu-item { list-style-type: none; padding-left: 40px; }

.menu-item a { text-decoration: none; color: white; font-size: 14px; text-transform: uppercase; letter-spacing: 2px; transition: 0.2s all linear; }

.menu-item a:hover { color: #fed136; text-shadow: 0 0 10px black; }

.logo { font-size: 26px; color: #fed136; font-family: "Euphoria Script", "Montserrat", "Merriweather", sans-serif; letter-spacing: 2px; padding-left: 15px; }

.logo-media { display: none; font-size: 26px; color: #fed136; font-family: "Euphoria Script", "Montserrat", "Merriweather", sans-serif; letter-spacing: 2px; text-align: center; }

.hero { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; margin-top: -90px; height: 100vh; background-image: url("/images/background-image.jpg"); background-position: center; background-repeat: none; background-size: cover; }

.hero-header-container { text-align: center; }

.hero-header-medium { font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-size: 40px; font-style: italic; color: white; padding-top: 150px; padding-bottom: 50px; margin: 0; }

.hero-header-large { font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 75px; font-weight: 900; color: white; text-transform: uppercase; margin: 0; padding-bottom: 60px; }

.hero-btn { width: 240px; height: 65px; border: none; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 18px; text-transform: uppercase; font-weight: 900; background-color: #fed136; border-radius: 5px; color: white; transition: 0.3s all linear; }

.hero-btn:hover { transform: scale(1.1); cursor: pointer; box-shadow: 0 0 10px black; }

.services-header-large { text-align: center; margin: 0; padding-top: 120px; padding-bottom: 20px; text-transform: uppercase; color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 40px; font-weight: 900; }

.services-header-small { text-align: center; margin: 0; padding-bottom: 80px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; font-size: 16px; color: #777777; }

.services-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; grid-gap: 55px; padding-bottom: 120px; }

.services-grid { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; padding: 10px; }

.services-grid-btn { width: 68px; height: 68px; border: 3px solid #fed136; background-color: white; border-radius: 50%; }

.fa-services { color: #fed136; font-size: 40px; }

.services-grid-header { color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; padding-top: 25px; padding-bottom: 15px; font-size: 18px; font-weight: 900; text-align: center; }

.services-grid-paragraph { font-family: "Roboto Slab", "Merriweather", "Arial", sans-serif; font-size: 14px; color: #777777; text-align: center; }

.portfolio { background-color: #f7f7f7; }

.portfolio-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; grid-gap: 50px 35px; padding-bottom: 120px; }

.portfolio-header-large { text-align: center; margin: 0; padding-top: 120px; padding-bottom: 20px; text-transform: uppercase; color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 40px; font-weight: 900; }

.portfolio-header-small { text-align: center; margin: 0; padding-bottom: 80px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; font-size: 16px; color: #777777; }

.portfolio-item { padding: 150px 40px; height: 390px; background-repeat: no-repeat; background-color: white; transition: 0.3s all linear; }

.portfolio-item:hover { cursor: pointer; opacity: 0.7; }

.portfolio-item-header { font-size: 18px; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; width: 200px; text-align: center; }

.portfolio-item-header a { text-decoration: none; color: #222222; }

.portfolio-item-paragraph { font-size: 14px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; color: #777777; text-align: center; }

.portfolio-text-container { position: relative; top: 175px; }

.portfolio-item-1 { background-image: url("/images/portfolio-1.jpg"); }

.portfolio-item-2 { background-image: url("/images/portfolio-2.jpg"); }

.portfolio-item-3 { background-image: url("/images/portfolio-3.jpg"); }

.portfolio-item-4 { background-image: url("/images/portfolio-4.jpg"); }

.portfolio-item-5 { background-image: url("/images/portfolio-5.jpg"); }

.portfolio-item-6 { background-image: url("/images/portfolio-6.jpg"); }

.about-header-large { text-align: center; margin: 0; padding-top: 120px; padding-bottom: 20px; text-transform: uppercase; color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 40px; font-weight: 900; }

.about-header-small { text-align: center; margin: 0; padding-bottom: 80px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; font-size: 16px; color: #777777; }

.about-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }

.about-img { height: 170px; width: 170px; border-radius: 50%; border: 5px solid #f1f1f1; background-size: cover; background-repeat: no-repeat; margin: auto; margin-bottom: 105px; }

.about-img::after { content: ""; width: 105px; display: block; transform: rotate(90deg); position: relative; top: 140px; border: 3px solid #f1f1f1; background-color: #f1f1f1; margin: auto; }

.about-item-container { display: -ms-grid; display: grid; -ms-grid-columns: 345px 250px 345px; grid-template-columns: 345px 250px 345px; }

.about-text-container-media { display: none; }

.about-text-container { width: 100%; display: block; }

.about-btn-container { margin: auto; }

.about-text-header { text-transform: uppercase; }

.about-text-paragraph { font-size: 14px; font-family: "Roboto Slab", "Merriweather", "Arial", sans-serif; color: #777777; }

.about-img-paragraph { font-size: 18px; color: white; text-transform: uppercase; font-weight: 900; }

.about-text-header, .about-text-subheader { font-size: 18px; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; color: #222222; font-weight: 900; }

.about-img-1 { background-image: url("/images/about-1.jpg"); }

.about-img-2 { background-image: url("/images/about-2.jpg"); }

.about-img-3 { background-image: url("/images/about-3.jpg"); }

.about-img-4 { background-image: url("/images/about-4.jpg"); }

.about-img-5 { background-color: #fed136; }

.about-img-5::after { display: none; }

.team { background-color: #f7f7f7; }

.team-header-large { text-align: center; margin: 0; padding-top: 120px; padding-bottom: 20px; text-transform: uppercase; color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 40px; font-weight: 900; }

.team-header-small { text-align: center; margin: 0; padding-bottom: 80px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; font-size: 16px; color: #777777; }

.team-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; }

.team-btn-img { width: 221px; height: 221px; border: none; border-radius: 50%; background-position: center; background-size: cover; background-repeat: no-repeat; background-color: black; }

.team-btn-img-1 { background-image: url("/images/team1.jpg"); }

.team-btn-img-2 { background-image: url("/images/team2.jpg"); }

.team-btn-img-3 { background-image: url("/images/team3.jpg"); }

.team-name { font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 16px; color: #222222; font-weight: 900; padding-top: 25px; text-align: center; }

.team-position { font-size: 14px; font-family: "Roboto Slab", "Merriweather", "Arial", sans-serif; color: #777777; text-align: center; padding-top: 14px; padding-bottom: 14px; }

.team-social { text-align: center; }

.team-social-btn { width: 41px; height: 41px; border-radius: 50%; border: 4px solid #222222; background-color: white; margin-left: 10px; transition: 0.3s all ease-out; }

.team-social-btn:hover { transform: rotate(1080deg) scale(1.2); cursor: pointer; box-shadow: 0 0 10px black; }

.fa-team { color: #222222; font-size: 18px; }

.team-container-item { margin: auto; }

.team-paragraph { font-size: 16px; font-family: "Roboto Slab", "Merriweather", "Arial", sans-serif; color: #777777; padding: 50px 10px 120px 10px; text-align: center; }

.logos-container { display: -ms-flexbox; display: flex; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.logos-container-item { padding: 60px 0; }

::-webkit-input-placeholder { font-size: 14px; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; color: #222222; text-transform: uppercase; font-weight: 900; }

:-ms-input-placeholder { font-size: 14px; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; color: #222222; text-transform: uppercase; font-weight: 900; }

::placeholder { font-size: 14px; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; color: #222222; text-transform: uppercase; font-weight: 900; }

.contact { background-color: #222222; background-image: url("/images/map-image.png"); background-position-x: 500px; }

.contact-form-container { padding-bottom: 80px; }

.contact-header-large { text-align: center; margin: 0; padding-top: 120px; padding-bottom: 20px; text-transform: uppercase; color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 40px; font-weight: 900; color: white; }

.contact-header-small { text-align: center; margin: 0; padding-bottom: 80px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; font-size: 16px; color: #777777; color: #777777; }

.contact-form { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.input-name, .input-mail, .input-subject { width: 33vw; height: 50px; margin: 15px; }

.input-msg { width: 23vw; height: 210px; }

.contact-btn { width: 240px; height: 65px; border: none; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 18px; text-transform: uppercase; font-weight: 900; background-color: #fed136; border-radius: 5px; color: white; transition: 0.3s all linear; margin: auto; }

.contact-btn:hover { transform: scale(1.1); cursor: pointer; box-shadow: 0 0 10px black; }

.contact-inputs-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; padding-bottom: 30px; }

.footer-social { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

.footer-paragraph { font-size: 14px; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; padding: 42px 0; }

.footer-social-btn { height: 42px; width: 42px; border: none; border-radius: 50%; background-color: black; color: white; font-size: 18px; margin-left: 10px; transition: 0.3s all ease-out; }

.footer-social-btn:hover { transform: rotate(1080deg) scale(1.2); cursor: pointer; box-shadow: 0 0 10px black; }

@media all and (max-width: 1400px) { .input-name, .input-mail, .input-subject { width: 40vw; height: 50px; margin: 15px; }
  .input-msg { width: 40vw; height: 210px; } }

@media all and (max-width: 1000px) { .portfolio-container { -ms-grid-columns: auto auto; grid-template-columns: auto auto; -ms-flex-pack: center; justify-content: center; }
  .about-img { margin-bottom: 10px; }
  .about-img::after { display: none; }
  .about-text-container { display: none; }
  .about-text-container-media { display: block; text-align: center; padding-bottom: 60px; padding-left: 10px; padding-right: 10px; }
  .about-item-container { -ms-grid-columns: auto; grid-template-columns: auto; }
  .contact-inputs-container { -ms-flex-direction: column; flex-direction: column; }
  .contact-data-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .input-name, .input-mail, .input-subject { width: 60vw; height: 50px; margin: 15px; }
  .input-msg { width: 60vw; height: 210px; } }

@media all and (max-width: 750px) { .logo { display: none; }
  .logo-media { display: block; }
  .menu { margin: auto; }
  .menu-item { padding-left: 20px; }
  .menu-item:nth-child(1) { padding-left: 0; }
  .hero { margin-top: -100px; }
  .contact-inputs-container { -ms-flex-direction: column; flex-direction: column; }
  .contact-data-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .input-name, .input-mail, .input-subject { width: 80vw; height: 50px; margin: 15px; }
  .input-msg { width: 80vw; height: 210px; } }

@media all and (max-width: 670px) { .portfolio-container { -ms-grid-columns: auto; grid-template-columns: auto; -ms-flex-pack: center; justify-content: center; }
  .team-container { -ms-grid-columns: auto; grid-template-columns: auto; }
  .team-container-item { padding-bottom: 45px; }
  .team-name { padding-top: 10px; }
  .services-container, .portfolio-container { padding-bottom: 60px; }
  .logos-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .logos-container-item { padding: 20px 0; text-align: center; }
  .services-header-large, .portfolio-header-large, .about-header-large, .team-header-large, .contact-header-large { padding-top: 50px; }
  .services-header-small, .portfolio-header-small, .about-header-small, .team-header-small, .contact-header-small, .team-paragraph { padding-top: 10px; padding-bottom: 40px; } }

@media all and (max-width: 600px) { .menu { display: none; padding-left: 0; padding-right: 0; }
  .navigation-container { padding-top: 5px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .navigation { display: -ms-flexbox; display: flex; margin: auto; background-color: black; }
  .menu-button-label { display: block; margin: 0 auto; padding: 3px 15px; color: #fed136; }
  .menu-button-input:not(:checked) ~ ul { display: none; }
  .menu-button-input:checked ~ ul { display: block; }
  .menu-item { background-color: black; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 100vw; line-height: 44px; margin: auto; padding-left: 0; -ms-flex-align: center; align-items: center; z-index: 999; }
  .hero { margin-top: -90px; height: 100%; }
  .hero-header-medium { font-size: 40px; }
  .hero-header-large { font-size: 40px; }
  .hero-btn { margin-bottom: 30px; }
  .hero-btn, .contact-btn { width: 70%; }
  .services-container { -ms-grid-columns: auto; grid-template-columns: auto; grid-gap: 15px; padding-bottom: 60px; }
  .services-grid-header { padding-top: 15px; }
  .portfolio-container { -ms-grid-columns: auto; grid-template-columns: auto; -ms-flex-pack: center; justify-content: center; padding-bottom: 60px; }
  .logos-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }
  .logos-container-item { padding: 25px; }
  .footer-social { -ms-flex-direction: column; flex-direction: column; }
  .footer-social-container { padding-bottom: 25px; } }
/*# sourceMappingURL=style.css.map */