@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");

// Variables
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 26px;
$font-size-xl: 40px;
$font-size-xxl: 75px;

$white: white;
$ivory: #f1f1f1;
$black: black;
$light-black: #222222;
$gray: #777777;
$gold: #fed136;

// Mixins
@mixin btn-gold {
  width: 240px;
  height: 65px;
  border: none;
  background-color: $gold;
  border-radius: 5px;
  color: $white;
  transition: 0.3s all linear;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px $black;
  }
}
//=================================================================================================
// Content
//=================================================================================================
* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  font-family: "Montserrat", "Merriweather", "Roboto Slab", "Arial", sans-serif;
  margin: 0 auto;
}

.container {
  width: 940px;
  max-width: 100%;
  margin: 0 auto;
}

//===================================================================================================
// Menu
