@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");

// Variables
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 26px;
$font-size-xl: 40px;
$font-size-xxl: 75px;

$montserrat: "Montserrat", "Merriweather", "Arial", sans-serif;
$roboto: "Roboto Slab", "Merriweather", "Arial", sans-serif;

$white: white;
$ivory: #f1f1f1;
$cream: #f7f7f7;
$black: black;
$light-black: #222222;
$gray: #777777;
$gold: #fed136;

// Mixins
@mixin btn-gold {
  width: 240px;
  height: 65px;
  border: none;
  font-family: $montserrat;
  font-size: $font-size-m;
  text-transform: uppercase;
  font-weight: 900;
  background-color: $gold;
  border-radius: 5px;
  color: $white;
  transition: 0.3s all linear;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px $black;
  }
}

@mixin section-header-large {
  text-align: center;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 20px;
  text-transform: uppercase;
  color: $light-black;
  font-family: $montserrat;
  font-size: $font-size-xl;
  font-weight: 900;
}

@mixin section-header-small {
  text-align: center;
  margin: 0;
  padding-bottom: 80px;
  font-family: "Merriweather", "Montserrat", "Arial", sans-serif;
  font-style: italic;
  font-size: $font-size-s;
  color: $gray;
}
//=================================================================================================
// Content
//=================================================================================================
* {
  box-sizing: border-box;
  border: 1px solid red;
  margin: 0;
}

body {
  font-family: "Montserrat", "Merriweather", "Roboto Slab", "Arial", sans-serif;
  margin: 0 auto;
}

.container {
  width: 940px;
  max-width: 100%;
  margin: 0 auto;
}

//===================================================================================================
// Navigation section
.navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  list-style-type: none;
  padding-left: 40px;
}

.menu-item > a {
  text-decoration: none;
  color: $white;
  font-size: $font-size-xs;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo {
  font-size: $font-size-l;
  color: $gold;
  font-family: "Euphoria Script", "Montserrat", "Merriweather", sans-serif;
  letter-spacing: 2px;
}

//====================================================================================================
// Hero section
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -90px;
  height: 100vh;
  background-image: url("/images/background-image.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.hero-header-container {
  text-align: center;
}

.hero-header-medium {
  font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif;
  font-size: $font-size-xl;
  font-style: italic;
  color: $white;
  padding-top: 150px;
  padding-bottom: 50px;
  margin: 0;
}

.hero-header-large {
  font-family: $montserrat;
  font-size: $font-size-xxl;
  font-weight: 900;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 60px;
}

.hero-btn {
  @include btn-gold;
}

//========================================================================================
// Services section
.services-header-large {
  @include section-header-large();
}

.services-header-small {
  @include section-header-small();
}

.services-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 55px;
  padding-bottom: 120px;
}

.services-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-grid-btn {
  width: 68px;
  height: 68px;
  border: 3px solid $gold;
  background-color: $white;
  border-radius: 50%;
}

.fa-services {
  color: $gold;
  font-size: $font-size-xl;
}

.services-grid-header {
  color: $light-black;
  font-family: $montserrat;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: $font-size-m;
  font-weight: 900;
  text-align: center;
}

.services-grid-paragraph {
  font-family: $roboto;
  font-size: $font-size-xs;
  color: $gray;
  text-align: center;
}

//=========================================================================================
// Portfolio section
.portfolio {
  background-color: $cream;
}

.portfolio-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 35px;
}

.portfolio-header-large {
  @include section-header-large();
}

.portfolio-header-small {
  @include section-header-small();
}

.portfolio-item {
    padding: 150px 143px;

}

.portfolio-item-1 {
  background-image: url("/images/portfolio-1.jpg");
}

.portfolio-item-2 {
  background-image: url("/images/portfolio-2.jpg");
}

.portfolio-item-3 {
  background-image: url("/images/portfolio-3.jpg");
}

.portfolio-item-4 {
  background-image: url("/images/portfolio-4.jpg");
}

.portfolio-item-5 {
  background-image: url("/images/portfolio-5.jpg");
}

.portfolio-item-6 {
  background-image: url("/images/portfolio-6.jpg");
}
