@import "../variables/colors";
@import "../variables/typography";
@import "../elements/buttons";
@import "../elements/typo";

* {
  box-sizing: border-box;
  border: 0.1px solid red;
  margin: 0;
}

body {
  font-family: $montserrat;
  margin: 0 auto;
}

.container {
  width: 940px;
  max-width: 100%;
  margin: 0 auto;
}
