@mixin btn-gold {
  width: 240px;
  height: 65px;
  border: none;
  font-family: $montserrat;
  font-size: $font-size-m;
  text-transform: uppercase;
  font-weight: 900;
  background-color: $gold;
  border-radius: 5px;
  color: $white;
  transition: 0.3s all linear;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px $black;
  }
}
