@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
.portfolio { background-color: #f7f7f7; }

.portfolio-container { display: grid; grid-template-columns: auto auto auto; grid-gap: 50px 35px; padding-bottom: 120px; }

.portfolio-header-large { text-align: center; margin: 0; padding-top: 120px; padding-bottom: 20px; text-transform: uppercase; color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 40px; font-weight: 900; }

.portfolio-header-small { text-align: center; margin: 0; padding-bottom: 80px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; font-size: 16px; color: #777777; }

.portfolio-item { padding: 55% 13%; height: 110%; background-repeat: no-repeat; background-color: white; transition: 0.3s all linear; }

.portfolio-item:hover { cursor: pointer; opacity: 0.7; }

.portfolio-item-header { font-size: 18px; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; width: 200px; text-align: center; }

.portfolio-item-header a { text-decoration: none; color: #222222; }

.portfolio-item-paragraph { font-size: 14px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; color: #777777; text-align: center; }

.portfolio-text-container { position: relative; top: 175px; }

.portfolio-item-1 { background-image: url("/images/portfolio-1.jpg"); }

.portfolio-item-2 { background-image: url("/images/portfolio-2.jpg"); }

.portfolio-item-3 { background-image: url("/images/portfolio-3.jpg"); }

.portfolio-item-4 { background-image: url("/images/portfolio-4.jpg"); }

.portfolio-item-5 { background-image: url("/images/portfolio-5.jpg"); }

.portfolio-item-6 { background-image: url("/images/portfolio-6.jpg"); }
