@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
.services-header-large { text-align: center; margin: 0; padding-top: 120px; padding-bottom: 20px; text-transform: uppercase; color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; font-size: 40px; font-weight: 900; }

.services-header-small { text-align: center; margin: 0; padding-bottom: 80px; font-family: "Merriweather", "Euphoria Script", "Arial", sans-serif; font-style: italic; font-size: 16px; color: #777777; }

.services-container { display: grid; grid-template-columns: auto auto auto; grid-gap: 55px; padding-bottom: 120px; }

.services-grid { display: flex; flex-direction: column; align-items: center; padding: 10px; }

.services-grid-btn { width: 68px; height: 68px; border: 3px solid #fed136; background-color: white; border-radius: 50%; }

.fa-services { color: #fed136; font-size: 40px; }

.services-grid-header { color: #222222; font-family: "Montserrat", "Merriweather", "Arial", sans-serif; padding-top: 25px; padding-bottom: 15px; font-size: 18px; font-weight: 900; text-align: center; }

.services-grid-paragraph { font-family: "Roboto Slab", "Merriweather", "Arial", sans-serif; font-size: 14px; color: #777777; text-align: center; }
