@import "../variables/colors";
@import "../variables/typography";
@import "../elements/buttons";
@import "../elements/typo";

//====================================================================================
// RWD
//====================================================================================

//====================================================================================
// Max 1400px
@media all and (max-width: 1400px) {
  .input-name,
  .input-mail,
  .input-subject {
    width: 40vw;
    height: 50px;
    margin: 15px;
  }

  .input-msg {
    width: 40vw;
    height: 210px;
  }
}
//====================================================================================
// Max 1000px
@media all and (max-width: 1000px) {
  .portfolio-container {
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .about-img {
    margin-bottom: 10px;

    &::after {
      display: none;
    }
  }

  .about-text-container {
    display: none;
  }

  .about-text-container-media {
    display: block;
    text-align: center;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-item-container {
    grid-template-columns: auto;
  }

  .contact-inputs-container {
    flex-direction: column;
  }

  .contact-data-container {
    display: flex;
    flex-direction: column;
  }

  .input-name,
  .input-mail,
  .input-subject {
    width: 60vw;
    height: 50px;
    margin: 15px;
  }

  .input-msg {
    width: 60vw;
    height: 210px;
    margin: 15px;
  }
}

//====================================================================================
// Max 750px

@media all and (max-width: 750px) {
  .menu {
    margin: auto;
  }

  .menu-item {
    padding-left: 20px;

    &:nth-child(1) {
      padding-left: 0;
    }
  }

  .contact-inputs-container {
    flex-direction: column;
  }

  .contact-data-container {
    display: flex;
    flex-direction: column;
  }

  .input-name,
  .input-mail,
  .input-subject {
    width: 80vw;
    height: 50px;
    margin: 15px;
  }

  .input-msg {
    margin: 15px;
    width: 80vw;
    height: 210px;
  }
}

//====================================================================================
// Max 670px
@media all and (max-width: 670px) {
  .portfolio-container {
    grid-template-columns: auto;
    justify-content: center;
  }

  .team-container {
    grid-template-columns: auto;
  }

  .team-container-item {
    padding-bottom: 45px;
  }

  .team-name {
    padding-top: 10px;
  }

  .services-container,
  .portfolio-container {
    padding-bottom: 60px;
  }

  .logos-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .logos-container-item {
    padding: 20px 0;
    text-align: center;
  }

  .services-header-large,
  .portfolio-header-large,
  .about-header-large,
  .team-header-large,
  .contact-header-large {
    padding-top: 50px;
  }

  .services-header-small,
  .portfolio-header-small,
  .about-header-small,
  .team-header-small,
  .contact-header-small,
  .team-paragraph {
    padding-top: 10px;
    padding-bottom: 40px;
  }
}

//====================================================================================
// Max 600px
@media all and (max-width: 600px) {
  .menu {
    display: none;
    padding-left: 0;
    padding-right: 0;
  }

  .on_scroll_color {
    padding-bottom: 0;
    background-color: rgba($black, 0.3);
  }

  .navigation-container {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menu-button-label {
    display: block;
    margin: 0 auto;
    padding: 3px 15px;
    color: $gold;
    margin-right: 15px;
  }

  .menu-button-input:not(:checked) ~ ul {
    display: none;
  }

  .menu-button-input:checked ~ ul {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    background-color: rgba($black, 0.6);
    display: flex;
    flex-direction: column;
    width: 100vw;
    line-height: 44px;
    margin: auto;
    padding-left: 0;
    align-items: center;
  }

  .hero {
    height: 100%;
  }

  .hero-header-medium {
    font-size: $font-size-xl;
  }

  .hero-header-large {
    font-size: $font-size-xl;
  }

  .hero-btn {
    margin-bottom: 30px;
  }

  .hero-btn,
  .contact-btn {
    width: 80vw;
  }

  .services-container {
    grid-template-columns: auto;
    grid-gap: 15px;
    padding-bottom: 60px;
  }

  .services-grid-header {
    padding-top: 15px;
  }

  .portfolio-container {
    grid-template-columns: auto;
    justify-content: center;
    padding-bottom: 60px;
  }

  .logos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logos-container-item {
    padding: 25px;
  }

  .footer-social {
    flex-direction: column;
  }

  .footer-social-container {
    padding-bottom: 25px;
  }
}
