//=========================================================================================================
// Contact section
@import "../variables/typography";
@import "../variables/colors";
@import "../elements/typo";
@import "../elements/buttons";

::placeholder {
  font-size: $font-size-xs;
  font-family: $montserrat;
  color: $light-black;
  text-transform: uppercase;
  font-weight: 900;
}
.contact {
  background-color: $light-black;
  background-image: url("/images/map-image.png");
  background-position-x: 500px;
}

.contact-form-container {
  padding-bottom: 60px;
}

.contact-header-large {
  @include section-header-large();
  color: $white;
}

.contact-header-small {
  @include section-header-small();
  color: $gray;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input-name,
.input-mail,
.input-subject {
  width: 92%;
  height: 50px;
  padding: 15px;
}

.input-msg {
  width: 90%;
  height: 208px;
  margin: 15px;
  padding: 15px;
}

.contact-btn {
  @include btn-gold();
  margin: 15px auto;
}

.contact-inputs-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
