//======================================================================================
// Footer section
@import "../elements/typo";
@import "../variables/colors";
@import "../variables/typography";

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-paragraph {
  font-size: $font-size-xs;
  font-family: $montserrat;
  padding: 42px 0;
}

.footer-social-btn {
  height: 42px;
  width: 42px;
  border: none;
  border-radius: 50%;
  background-color: $black;
  color: $white;
  font-size: $font-size-m;
  margin-left: 10px;
  transition: 0.3s all ease-out;

  &:hover {
    transform: rotate(1080deg) scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 10px $black;
  }
}
