//====================================================================================================
// About section
@import "../elements/typo";
@import "../variables/colors";

.about-header-large {
  @include section-header-large();
}

.about-header-small {
  @include section-header-small();
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 5px solid $ivory;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 105px;

  &::after {
    content: "";
    width: 105px;
    display: block;
    transform: rotate(90deg);
    position: relative;
    top: 140px;
    border: 3px solid $ivory;
    background-color: $ivory;
    margin: auto;
  }
}

.about-item-container {
  display: grid;
  grid-template-columns: 345px 250px 345px;
}

.about-text-container-media {
  display: none;
}

.about-text-container {
  width: 100%;
  display: block;
}

.about-btn-container {
  margin: auto;
}

.about-text-header {
  text-transform: uppercase;
}

.about-text-paragraph {
  font-size: $font-size-xs;
  font-family: $roboto;
  color: $gray;
}

.about-img-paragraph {
  font-size: $font-size-m;
  color: $white;
  text-transform: uppercase;
  font-weight: 900;
}

.about-text-header,
.about-text-subheader {
  font-size: $font-size-m;
  font-family: $montserrat;
  color: $light-black;
  font-weight: 900;
}

.about-img-1 {
  background-image: url("/images/about-1.jpg");
}

.about-img-2 {
  background-image: url("/images/about-2.jpg");
}

.about-img-3 {
  background-image: url("/images/about-3.jpg");
}

.about-img-4 {
  background-image: url("/images/about-4.jpg");
}

.about-img-5 {
  background-color: $gold;

  &::after {
    display: none;
  }
}
